<figure class="tutorCard" data-subject=<%= queryDict['subject'] %> data-userid=<%= user.objectId %> data-userlat=<%= queryDict['lat'] %> data-userlon=<%= queryDict['lon'] %>>
	<% if (user.available) { %> 
		<div class="online-dot"></div>
	<% } %>
  <img src=<%= user.picture.url %>>
	<figcaption>
		<h3><%= user.displayName %></h3>
		<span><%= (user.Rate / 4).toFixed(2) %></span>
	</figcaption>
</figure>